body {
}
.login_container {
    padding-top:50px;
    background-color: #e4e3e3;
    padding: 20px;
    border-radius: 9px;
    margin-top: 20px;
    border: 1px solid #d3d3d3;
    
}
.signup_firstname  {
    width: 49.3% !important;
    border-radius: 5px 0 0 5px;
    display: inline-block;
}
.signup_lastname {
    width: 49.3% !important;
    border-radius: 0 5px 5px 0;
    display: inline-block;
}
.login_container a {
    text-align:center;
    display:block;
}
.login_container label {
    margin-left:25px;
    
}
.login_container .Textfield {
    width:100%;
    margin-bottom: 15px;
    height: 40px;
    border-color: #e8e8e8;
}
.login_container .btn-login {
    width:100%;
    color: #fff;
	background-color: #1fa67b;
    font-size: 14px;
	margin-bottom: 20px;
    margin-top:10px;
}
.login_container h2 {
    color: #1fa67b;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
.login_container .check-box #CheckBox1 {
    margin-bottom: 20px;
    height:20px !important;
    width:20px !important;
    margin-left:0;
    display: inline-block;
    margin-top: 0;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
